.filter-nav {
  &__item {
    border-radius: 0 !important;

    &__header {
      &__btn {
        font-size: 1.2rem;
        font-weight: 600;
        border: none;
        &:not(.collapsed) {
          background-color: transparent;
          border-color: transparent;
          color: $third-color;
          box-shadow: none;

          &::after {
            background-image: var(--bs-accordion-btn-icon);
          }
        }

        &:focus {
          outline: none;
          box-shadow: none;
        }
      }
    }

    &__body {
      &__subcategory-check {
        &__input {
          &[type="checkbox"] {
            border-radius: 0;
          }
          &:checked {
            background-color: $third-color;
            border-color: $third-color;
          }
          &:focus {
            outline: none;
            box-shadow: none;
          }
        }

        &__label {
          color: $third-color;
          font-size: 1.4rem;
        }
      }

      &__price-range {
        &__labels {
          font-size: 1.1rem;
          color: $third-color;
          padding: 1rem 0;

          &__label {
            background-color: #f4f4f4;
            padding: 0.5rem 1.2rem;
          }
        }

        .rc-slider-handle-dragging {
          box-shadow: none !important;
          background-color: $third-color;
        }
      }
    }
  }
}
