.newsletter {
  background: center no-repeat;
  background-size: cover;
  position: relative;
  height: 240px;

  @include rwd-df-down(sm) {
    height: 350px;
  }

  &__overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba($third-color, 0.1);
  }

  &__discount {
    background-color: $first-color;
    border-top-#{$end}-radius: 4rem;
    border-bottom-#{$end}-radius: 4rem;

    @include rwd-df-down(sm) {
      width: 25%;
    }

    span {
      color: $fifth-color;
      font-size: 4rem;
      font-weight: 600;
      line-height: 1.4;

      @include rwd-df-down(sm) {
        font-size: 3rem;
      }
    }
  }

  &__desc {
    color: $fifth-color;
    font-size: 2rem;
    line-height: 1.5;
    margin-bottom: 0;

    @include rwd-df-down(md) {
      width: 75%;
      margin: 2rem auto;
    }
  }

  &__input {
    @include rwd-df-down(md) {
      width: 100%;
      margin: auto;
    }
  }

  &__btn {
    @include rwd-df-down(sm) {
      text-align: center;
      padding-top: 2rem;
    }
    .main-btn {
      padding: 1rem 2rem;

      @include rwd-df-down(sm) {
        width: 75%;
      }
    }
  }
}
