@import "../abstracts/variables";

.product{
  &__inner{
    background-color: $fifth-color;
    transition: $main-transition;
    &:hover{
      box-shadow: $main-shadow;
      z-index: 1;
    }
  }

  &__btn{
    position: absolute;
    bottom: 10%;
    border: 0.1rem solid $third-color;
    background-color: rgba($fifth-color, 0.7);
    font-size: 1.4rem;
    border-radius: 0;

    &:hover{
      background-color: $fifth-color;
    }

    &:focus{
      box-shadow: 0 0 0 0.25rem rgba($third-color, 25%);
    }
  }

  &:hover{
    //box-shadow: $main-shadow;
    //transform: scale(1.1);
    //z-index: 1;
    .product__btn{
      display: block !important;
    }
  }

  &__head{
    position: relative;

    &__img{
      display: block;
    }

    &__discount{
      position: absolute;
      top: 1rem;
      #{$start}: 1rem;
      background-color: $second-color;
      color: $fifth-color;
      padding: 0.7rem 1.3rem;
      border-radius: 4rem;
      font-size: 1.2rem;
    }

    &__new{
      position: absolute;
      top: 1rem;
      #{$end}: 1rem;
      background-color: $first-color;
      color: $fifth-color;
      padding: 0.7rem 1.3rem;
      border-radius: 4rem;
      font-size: 1.2rem;
    }
  }

  &__body{

    &__title{
      font-size: 1.4rem;
      font-weight: 300;
    }

    &__price{
      &__current{
        color: $second-color;
      }

      &__raw{
        color: $fourth-color;
      }
    }

    &__likes{
      font-size: 1rem;

      &__icon{
        cursor: pointer;

        &:hover{
          color: $first-color;
        }
      }
    }
  }
}