//@import "../abstracts/variables";
.product-modal {
  &__link {
    color: $fourth-color;

    &:hover {
      color: $first-color;
    }
  }
  &__price {
    color: $second-color;
  }

  &__currency {
    color: blue;
  }
}
