.cart {
  &__table {
    border-collapse: separate;
    border-spacing: 0 3rem;

    &__head {
      @include rwd-df-down(md) {
        display: none;
      }
      th {
        font-size: 1.4rem;
        color: $fourth-color;
      }
    }

    &__body {
      &__row {
        @include rwd-df-down(md) {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          grid-template-rows: repeat(2, 1fr);
          grid-column-gap: 0px;
          grid-row-gap: 1rem;
          border-bottom: 0.1rem solid $fourth-color;
          padding-top: 1rem;
          &:last-child {
            border: none;
          }

          .grid-product {
            grid-area: 1 / 1 / 2 / 4;
          }
          .grid-color {
            grid-area: 1 / 4 / 2 / 5;
          }

          .grid-quantity {
            grid-area: 2 / 1 / 3 / 3;
          }
          .grid-price {
            grid-area: 2 / 3 / 3 / 4;
          }
          .grid-delete {
            grid-area: 2 / 4 / 3 / 5;
          }
        }
        img {
          width: 7rem;
          // height: 7rem;
          border-radius: 50%;
        }

        &__name {
          font-size: 1.6rem;
          font-weight: 600;
          color: $third-color;
        }
        &__id {
          font-size: 1.3rem;
          font-weight: 300;
          color: $fourth-color;
        }
      }
    }
  }

  &__check {
    input {
      width: 80%;
      padding: 1rem 0rem 1rem 3rem;
      border: solid 1px #d8d8d8;
      border-radius: 3rem;
      outline: none;
      &::placeholder {
        font-size: 1.3rem;
        line-height: 1.85;
        color: #ababab;
        margin-#{$start}: 2rem;
      }
    }

    &__total {
      font-size: 1.6rem;
      color: $third-color;
      &__title {
        font-weight: 300;
      }
      &__value {
        font-weight: 600;
      }
    }
  }
}
