//@import "../abstracts/variables";

.product-view {
  .carousel {
    &__dots {
      @include rwd-df-down(md) {
        width: 80%;
        display: flex;
        position: absolute;
        z-index: 1;
        top: 90%;
        left: 50%;
        margin-left: auto;
        transform: translate(-50%);
      }
    }
    &__dot {
      border: 0.1rem solid transparent;
      outline: none;
      @include rwd-df-down(md) {
        width: 100%;
        height: 0.3rem;
        background-color: $fifth-color;
        border: none;
      }

      img {
        @include rwd-df-down(md) {
          display: none;
        }
      }

      &--selected {
        border: 0.1rem solid $first-color;
        @include rwd-df-down(md) {
          background-color: $third-color;
          border: none;
        }

        img {
          opacity: 0.5;
        }
      }
    }
  }

  &__notice {
    position: relative;
    height: 5rem;
    & > * {
      #{$start}: 0;
    }
  }

  &__model {
    color: $fourth-color;
    font-size: 1.2rem;
  }

  &__name {
    font-size: 2rem;
    font-weight: 300;
    text-transform: capitalize;
  }

  &__price {
    font-size: 2rem;

    &--current {
      color: $second-color;
      padding-#{$end}: 5rem;
    }
    &--raw {
      color: $fourth-color;
      text-decoration: line-through;
    }
  }

  &__subtitle {
    font-size: 1.3rem;
    font-weight: 300;
  }

  &__quantity {
    &__icon {
      border: 0.1rem solid $fourth-color;
      border-radius: 50%;
      width: 4rem;
      height: 4rem;
      cursor: pointer;
      &:hover {
        border: 0.1rem solid $first-color;
        box-shadow: $main-shadow;
      }
    }
  }

  &__details {
    &__tab {
      background-color: transparent;
      color: $fourth-color;
      font-size: 1.3rem;
      text-transform: uppercase;
      border: 0.1rem solid transparent;
      border-radius: 5rem;
      padding: 1rem 5rem;
      margin: 0 1.5rem;

      @include rwd-df-down(xs) {
        margin: 0 auto;
      }

      &.active {
        color: $third-color;
        font-weight: 500;
        border: 0.1rem solid $first-color;
        box-shadow: $main-shadow;
      }
    }

    &__description {
      min-height: 35rem;
      h4 {
        font-size: 1.6rem;
        font-weight: 500;
      }

      p {
        font-size: 1.2rem;
        line-height: 1.8;
      }
    }

    &__reviews {
      min-height: 35rem;

      &__rate {
        color: $third-color;
        font-size: 6rem;
        font-weight: 600;
      }

      &__star {
        color: $first-color;
      }
      &__opinions {
        color: #b9b9b9;
        font-size: 1.2rem;
      }

      &__progress {
        color: $third-color;
        font-size: 1.2rem;
        position: relative;

        &__line {
          width: 15rem;
          position: absolute;
          top: 50%;
          #{$start}: 100%;
          transform: translate(0%, -50%);
        }

        &__bar {
          background-color: $first-color !important;
        }
      }
    }
  }
}
