//@import "../abstracts/variables";

.main-btn {
  background-color: $first-color;
  font-size: 1.3rem;
  font-weight: 500;
  color: $third-color;
  border: 0.1rem solid transparent;
  border-radius: 5rem;
  padding: 1rem 5rem;
  text-transform: uppercase;
  margin: 0 1.5rem;
  &:hover {
    background-color: transparent;
    color: $third-color;
    border: 0.1rem solid $first-color;
    box-shadow: $main-shadow;
  }

  &--second-theme {
    background-color: transparent;
    border: 0.1rem solid $first-color;
    &:hover {
      background-color: $first-color;
      border: 0.1rem solid transparent;
    }
  }

  &--third-theme {
    background-color: transparent;
    border: 0.1rem solid $fourth-color;
    color: $fourth-color;
  }
}
