//@import "../abstracts/variables";

header {
  background-color: rgba($fifth-color, 0.5);
  border-bottom: 1px solid #e5e5e5;
  z-index: 100;

  .menu {
    &__logo {
      a {
        color: $third-color;

        span {
          color: $first-color;
          padding-#{$start}: 1.5rem;
        }
      }
    }

    &__links {
      display: flex;
      justify-content: center;
      @include rwd-df-down(md) {
        display: none;
      }

      &__link {
        color: $third-color;
        transition: $main-transition;
        text-transform: capitalize;

        &:hover {
          color: $first-color;
        }
      }
    }

    &__icon {
      cursor: pointer;
      padding: 0.5rem;
      border-radius: 0.5rem;
      transition: $main-transition;
      color: $third-color;

      &--avatar {
        // on login =================>>>>>>>>>>>>>>

        // border: 0.2rem solid #fff;
        // box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem $first-color,
        //   0 0 0.8rem $first-color, 0 0 2.8rem $first-color,
        //   inset 0 0 1.3rem $first-color;
        // color: $fifth-color;

        @include rwd-df-down(md) {
          display: none !important;
        }
      }

      &--bars {
        display: none !important;
        @include rwd-df-down(md) {
          display: inline-block !important;
        }
      }

      &:hover {
        //filter: drop-shadow(4px 4px 1px rgba($third-color, 0.4));
        //box-shadow: $inner-shadow;
        transform: scale(1.2);
      }
    }
  }
}
